.grid {
    display: grid;
    width: 100%;
    min-height: 1000px;
    grid-template-rows: 50px 500px repeat(3, 480px) 650px 500px 300px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
                        "header header"
                        "main main"
                        "a b"
                        "c d"
                        "e f"
                        "g g"
                        "gallery gallery"
                        "footer footer";
}

header {
    display: flex;
    grid-area: header;
    align-items: center;
    font-family: 'Barlow', sans-serif;
    background-color: #3CBEFF;
    color: white;
    padding-top: 19px;
}

header .logo {
    margin-left: 18px;
}

header nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

header li {
    display: inline;
    font-size: 15px;
    font-weight: 500;
    margin-right: 25px;
}

main {
    grid-area: main;
    background-color: #3CBEFF;
    background-image: url(../images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-items: center;
}

main h1 {
    font-family: 'Fraunces', serif;
    font-weight: 800;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    margin-top: 80px;
}

main #arrow-down {
    display: block;
    height: 100px;
    margin: 0 auto;
    margin-top: 90px;
}

.a, .d {
    overflow-y: scroll;
}

.a {
    padding: 100px;
    grid-area: a;
}

.a h2 {
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces', serif;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 35px;
}

.a p {
    font-family: 'Barlow', sans-serif;
    color: hsl(213, 9%, 39%);
    line-height: 1.5;
}

.a .learn-more {
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces', serif;
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 45px;
}

.b {
    background-image: url(../images/desktop/image-transform.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: b;
}

.c {
    background-image: url(../images/desktop/image-stand-out.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: c;
}

.d {
    padding: 100px;
    grid-area: d;
}

.d h2 {
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces', serif;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 35px;
}

.d p {
    font-family: 'Barlow', sans-serif;
    color: hsl(213, 9%, 39%);
    line-height: 1.5;
}

.d .learn-more {
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces', serif;
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 45px;
}

.bottom-text {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.bottom-text h3 {
    font-family: 'Fraunces', serif;
    text-align: center;
    font-weight: 800;
    font-size: 23px;
    margin-top: 330px;
    margin-bottom: 15px;
}

.bottom-text p {
    width: 350px;
    font-family: 'Barlow', sans-serif;
    line-height: 1.5;
    text-align: center;
}
.e {
    background-image: url(../images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: e;
    color: hsl(167, 40%, 24%);
}

.f {
    background-image: url(../images/desktop/image-photography.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: f;
    color: hsl(198, 62%, 26%);
}

.g {
    grid-area: g;
    background-color: white;
    overflow-y: scroll;
}

.g h3 {
    font-family: 'Fraunces', serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 23px;
    margin-top: 150px;
    font-weight: 300;
    color: hsl(232, 10%, 55%);
}

.g .testimonials {
    display: flex;
    width: 79%;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
}

.g .client {
    display: inline-flex;
    flex-direction: column;
    width: 310px;
    height: 350px;
    text-align: center;
}

.g .client .profile-pic {
    display: block;
    border-radius: 50%;
    width: 80px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 50px;
}

.g .client .client-testimonial {
    font-family: 'Barlow', sans-serif;
    line-height: 1.5;
    width: 300px;
    margin-bottom: 30px;
}

.g .client .client-name {
    font-family: 'Fraunces', serif;
    font-weight: 800;
    margin-bottom: 10px;
}

.g .client .job-position {
    font-family: 'Barlow', sans-serif;
    color: hsl(232, 10%, 55%);
    font-weight: 400;
    font-size: 15px;
}

.gallery {
    grid-area: gallery;
    display: flex;
    width: 100%;
    height: 100%;
}

.grid-image {
    width: 25%;
}

.gallery .first {
    background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gallery .second {
    background-image: url(../images/desktop/image-gallery-orange.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gallery .third {
    background-image: url(../images/desktop/image-gallery-cone.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gallery .fourth {
    background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer {
    grid-area: footer;
    background-color: hsl(167, 58%, 65%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer .footer-logo {
    font-family: 'Barlow', sans-serif;
    font-size: 27px;
    font-weight: 700;
    color: hsl(168, 33%, 39%);
    margin-top: 70px;
}

.footer ul {
    width: 250px;
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}

.footer ul li {
    font-family: 'Barlow', sans-serif;
    color: hsl(168, 34%, 41%);
    display: inline;
    font-weight: 500;
}

.footer .socials {
    margin-top: 100px;
    width: 210px;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1190px) {
        
    .g h3 {
        margin-top: 20px;
    }

}